@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <br />
    <a asp-controller="Vendor" asp-action="UpdateProfile" class="waves-effect waves-light btn">Update Profile</a>
    
    <br />
    <br />

    @if (Model.HasPassword)
            {
        <a asp-controller="Manage" asp-action="ChangePassword" class="waves-effect waves-light btn">Change Password</a>
    }
    else
    {
        <a asp-controller="Manage" asp-action="SetPassword" class="waves-effect waves-light btn">Create Password</a>
    }
    <br />
    <br />
</div>
