@model JuansList.ViewModels.EstimateDetailViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Estimate Detail</title>
</head>
<body>

<form asp-controller="Estimates" asp-action="UpdateEstimate" asp-route-id="@Model.SingleEstimate.EstimateId" method="post">
    <div class="form-horizontal">
        <h4>Estimate Details</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
    <input type="hidden" asp-for="SingleEstimate.EstimateId" />
        <div class="form-group">
            <label asp-for="SingleEstimate.Title" class="col m2 control-label"></label>
            <div class="col m10">
                <input asp-for="SingleEstimate.Title" class="form-control" />
                <span asp-validation-for="SingleEstimate.Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SingleEstimate.Description" class="col m2 control-label"></label>
            <div class="col m10">
                <input asp-for="SingleEstimate.Description" class="form-control" />
                <span asp-validation-for="SingleEstimate.Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SingleEstimate.Price" class="col m2 control-label"></label>
            <div class="col m10">
                <input asp-for="SingleEstimate.Price" class="form-control" />
                <span asp-validation-for="SingleEstimate.Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SingleEstimate.DateStart" class="col m2 control-label"></label>
            <div class="col m10">
                <input asp-for="SingleEstimate.DateStart" class="form-control" />
                <span asp-validation-for="SingleEstimate.DateStart" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SingleEstimate.DateEnd" class="col m2 control-label"></label>
            <div class="col m10">
                <input asp-for="SingleEstimate.DateEnd" class="form-control" />
                <span asp-validation-for="SingleEstimate.DateEnd" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col offset-m2 col m10">
                <button type="submit" value="Save" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</form>
<br />
<div>
    <a asp-action="GetEstimates">Back to List</a>
</div>

</body>
</html>
