@model JuansList.ViewModels.AddAlbumViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Album</title>
</head>
<body>

<form asp-action="AddAlbum">
    <div class="form-horizontal">
        <h4>Add New Album</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Album.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Album.Title" class="form-control" />
                <span asp-validation-for="Album.Title" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Images.ImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Images.ImageUrl" class="form-control" />
                <span asp-validation-for="Images.ImageUrl" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Album" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<br/>
<div>
    <a asp-controller="Vendor" asp-action="UpdateProfile">Back to Update Profile</a>
</div>

</body>
</html>
