@model JuansList.ViewModels.AlbumDetailViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Album</title>
</head>
<body>
    <br />
    <br/>
    <div class="container" style="background-color: #C6DABF;">
        <div class="row center">
            <div class="slider col offset-l1 l10 center">
                <ul class="slides">

                    @foreach (var item in Model.Images)
            {
                        <li class="center" style="background-color:#C6DABF; padding-top:40px;">
                            <img src="@Url.Content(item.ImageUrl)" style="height: 50vh; width:50vw;">
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Profile" asp-controller="Vendor" class="waves-effect waves-light btn">Back to Vendor Profile</a>
    </div>

</body>
</html>