@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h1 class="center">JuansList</h1>
    <h5 class="center">Where the right Juan makes the difference!</h5>
</div>
<div class="">
    <h3 class="center">Who We Are</h3>
</div>
<div class="">
    <h3 class="center">Mission Statement</h3>
</div>
<div class="container">
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="~/images/bathroom.jpg" style="height: 275px; width: 400px;"></a>
        <a class="carousel-item" href="#two!"><img src="~/images/bedroom.jpg" style="height: 275px; width: 400px;"></a>
        <a class="carousel-item" href="#three!"><img src="~/images/laundry.jpg" style="height: 275px; width: 400px;"></a>
        <a class="carousel-item" href="#four!"><img src="~/images/kitchen.jpg" style="height: 275px; width: 400px;"></a>
        <a class="carousel-item" href="#five!"><img src="~/images/deck2.jpg" style="height: 275px; width: 400px;"></a>
        <a class="carousel-item" href="#six!"><img src="~/images/landscaping.jpg" style="height: 275px; width: 400px;"></a>
        <a class="carousel-item" href="#seven!"><img src="~/images/landscaping2.jpg" style="height: 275px; width: 400px;"></a>
    </div>
</div>
