@{
    ViewData["Title"] = "Home Page";
}

<div style="color: #114B5F;">
    <br/>
    <div>
        <h5 class="center">"Where the right Juan makes the difference!"</h5>
    </div>
    <br/>
    <div class="">
        <h3 class="center">Who We Are</h3>
        <div class="container">
            <p class="center">
                JuansList was created to help homeowners find quality workmanship at a fraction of the price.
                The vendors that register to the site can be either contractors or the workers themselves that perform the quality work you desire.
                Say goodbye to paying high prices to cover major overhead costs of big companies, and get the work done directly by the skilled laborers!
            </p>
        </div>
    </div>
    <div class="">
        <h3 class="center">Mission Statement</h3>
        <p class="center">To provide consumers with lower-cost options for quality work by working directly with the skilled laborers.</p>
    </div>
    <div class="container">
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="~/images/bathroom.jpg" style="height: 275px; width: 400px;"></a>
            <a class="carousel-item" href="#two!"><img src="~/images/bedroom.jpg" style="height: 275px; width: 400px;"></a>
            <a class="carousel-item" href="#three!"><img src="~/images/laundry.jpg" style="height: 275px; width: 400px;"></a>
            <a class="carousel-item" href="#four!"><img src="~/images/kitchen.jpg" style="height: 275px; width: 400px;"></a>
            <a class="carousel-item" href="#five!"><img src="~/images/deck2.jpg" style="height: 275px; width: 400px;"></a>
            <a class="carousel-item" href="#six!"><img src="~/images/landscaping.jpg" style="height: 275px; width: 400px;"></a>
            <a class="carousel-item" href="#seven!"><img src="~/images/landscaping2.jpg" style="height: 275px; width: 400px;"></a>
        </div>
    </div>
</div>