@model JuansList.ViewModels.EditVendorProfileViewModel

<h2>Categories</h2>

<div class="form-group">
    <label asp-for="CatListing" class="col-md-2 control-label">Select All Categories</label>
    <div class="col-md-10" style="color: #114B5F;">
        @Html.ListBoxFor(m => m.CatListing, new MultiSelectList(Model.Categories, "CategoryId", "Name", null), new { @class = "form-control"} )
    </div>
</div>


@*<div class="input-field col l6 m6 s12">
    <select multiple>
        <option value="" disabled selected>Choose your option</option>
        @foreach (var c in Model.Categories)
        {
            <option value="@c.CategoryId" class="cat" hidden-id="@c.CategoryId">@Html.DisplayFor(modelItem => c.Name)</option>
        }
    </select>
</div>*@

<br />
<div class="form-group">
    <div class="col m4 ">
        <a id="catAdd" class="waves-effect waves-light btn">Save C</a>
    </div>
</div>