@model JuansList.ViewModels.EditVendorProfileViewModel

<h2>Categories</h2>

<div class="form-control">
<div class="input-field col l6 m6 s12">
    <select multiple>
        @foreach (var c in Model.Categories)
        {
            <option value="@c.CategoryId" class="cat" hidden-id="@c.CategoryId">@Html.DisplayFor(modelItem => c.Name)</option>
        }
    </select>
</div>

<br />
<div class="col m4 ">
    <a asp-controller="Vendor" asp-action="AddCat" method="post" id="catAdd" class="waves-effect waves-light btn">Save</a>
</div>
</div>