@model JuansList.ViewModels.EditVendorProfileViewModel

<h2>Categories</h2>

<div class="form-group">
    <label asp-for="CatListing" class="col-md-2 control-label">Select All Categories</label>
    <div class="col-md-10" style="color: #114B5F;">
        @Html.ListBoxFor(m => m.CatListing, new MultiSelectList(Model.Categories, "CategoryId", "Name", null), new { @class = "form-control"} )
    </div>
</div>

<br />
<div class="form-group">
    <div class="col m4 ">
        <a id="catAdd" class="waves-effect waves-light btn">Save C</a>
    </div>
</div>