@using Microsoft.AspNetCore.Identity
@using JuansList.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="right">
        <ul class="right">
            <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a></li>
            <li><a asp-area="" asp-controller="Vendor" asp-action="Profile" class="waves-effect waves-light btn">Profile</a></li>
            <li><a asp-area="" asp-controller="Estimates" asp-action="GetEstimates" class="waves-effect waves-light btn">Estimates</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="waves-effect waves-light btn">Contact</a></li>
            <li><button type="submit" class="waves-effect waves-light btn ">Log off</button></li>
        </ul>
    </form>
}
else
{
    <ul class="right">
        <li><a asp-area="" asp-controller="Account" asp-action="VendorRegister" class="waves-effect waves-light btn">Vendor Registration</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="CustomerRegister" class="waves-effect waves-light btn">Customer Registration</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="waves-effect waves-light btn">Log in</a></li>
    </ul>
}
